/* Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
  color: white; /* arrow color */
  padding: 10px; /* space around the arrow */
  border-radius: 50%; /* circular button */
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

/* Hover effect */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(204, 47, 112, 0.45);
}

:root {
  --swiper-navigation-color: white;
  --swiper-pagination-color: white;
}
